.container
{
    border: 1px solid black;
    height:50vh;
    display: grid;
    grid-gap:3px;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(2,50px);

} 

.button
{
    display: grid;
    grid-gap: 10px;
    grid-template: 50px/repeat(5, minmax(50px,1fr));
    justify-content: center;
    font-size: 1em;
    color: #ffeead;
    cursor: pointer;
    margin-top: 10px;
}

.button >div
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    background-color: #ff6f69;
    color: #ffeead;
    border: 1px solid #ff6f69;
}

.justify-items , .align-items
{
    grid-column: span 2;
    background-color: #ffeead !important;
    color: #ff6f69 !important;
    box-shadow: none !important;

}

.Topic
{
    text-align: center;
    margin: 20px;
   
}

.reset
{
    display: flex;
    justify-content: center;
    height: 60px;
    margin: 20px 50%;
    width: 60px;
    padding: 15px 0;
    border-radius: 50%;
    background-color: #ffeead;
    color: #ff6f69;
    border: 1px solid #ff6f69;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

@media only screen and (max-width: 700px) {
     *{
         font-size: 12px !important;
     }
   
    .button{
        grid-template-columns: repeat(3, minmax(60px, 1fr));
        grid-template-rows: 60px ;
        justify-content: center;
        padding: 0 0 20px 0;
    }

    .justify-items , .align-items
    {
    grid-column: span 3;
    }
    .space-evenly ,.space-around
    {
        grid-column: span 3;
    }
    .reset{

        margin: auto;
        justify-content: center;
    }

    
  }  
